<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>sound_id</key>
        <integer>1020</integer>
        <key>name</key>
        <string>Anticipate.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1021</integer>
        <key>name</key>
        <string>Bloom.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1022</integer>
        <key>name</key>
        <string>Calypso.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1023</integer>
        <key>name</key>
        <string>Choo_Choo.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1024</integer>
        <key>name</key>
        <string>Descent.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1025</integer>
        <key>name</key>
        <string>Fanfare.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1026</integer>
        <key>name</key>
        <string>Ladder.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1027</integer>
        <key>name</key>
        <string>Minuet.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1028</integer>
        <key>name</key>
        <string>News_Flash.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1029</integer>
        <key>name</key>
        <string>Noir.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1030</integer>
        <key>name</key>
        <string>Sherwood_Forest.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1031</integer>
        <key>name</key>
        <string>Spell.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1032</integer>
        <key>name</key>
        <string>Suspense.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1033</integer>
        <key>name</key>
        <string>Telegraph.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1034</integer>
        <key>name</key>
        <string>Tiptoes.caf</string>
    </dict>
    <dict>
        <key>sound_id</key>
        <integer>1035</integer>
        <key>name</key>
        <string>Typewriters.caf</string>
    </dict>
</array>
</plist>
